:root{

    --fundo:#836FFF;
--cartao-frente:#191970;
--cartao-verso: #0000FF;
--destaque: #1E90FF;
--preto: #000000;
--branco: #DCDCDC;
}

body{
    background-color: var(--fundo);

}

footer{
    position:fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco)
    weidth: 100%;
    text-align: center;
    }
